@using WebUI.Resources.Pages
@using WebUI.Models.SalaryCalculator
@inject IStringLocalizer<SalaryCalculator> Localize;

<table class="table table-sm">
    <thead>
    <tr>
        <th>@Localize[nameof(Model.AnnualWageFund)]</th>
        <th>@Localize[nameof(Model.AnnualRevenueGross)]</th>
        <th>@Localize[nameof(Model.AnnualRevenueNet)]</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.AnnualWageFund</td>
        <td>@Model.AnnualRevenueGross</td>
        <td>@Model.AnnualRevenueNet</td>
    </tr>
    </tbody>
</table>

@code {

    [Parameter]
    public SalaryCalculatorYearlyModel Model { get; set; } = new();

}